 .u-section-1 {
  background-image: url("images/large-mountain-scape-covered-in-golden-haze.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1 .u-text-1 {
  font-family: "Abril Fatface";
  margin: 447px auto 0 -17px;
}

.u-section-1 .u-text-2 {
  margin: 0 514px 60px -142px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 111px;
    margin-left: -111px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 50px;
    margin-left: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 479px;
    margin-left: -26px;
  }

  .u-section-1 .u-text-2 {
    margin: 1px 26px 27px -26px;
  }
} .u-section-2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(238, 203, 182, 0.5)), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  min-height: 1132px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-image-1 {
  min-height: 1131px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/photo-1529305190382-4bf1969eafd1.jpeg");
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 299px;
  margin: 14px auto 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  margin: 39px auto 0;
  padding: 19px 46px 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1131px;
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(to bottom, rgba(241, 181, 184, 0.5), rgba(249, 231, 155, 0.5)), linear-gradient(to bottom, rgba(241, 181, 184, 1), rgba(241, 181, 184, 1));
  background-size: cover, cover, cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 9px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 891px;
  }

  .u-section-2 .u-image-1 {
    min-height: 933px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 60px;
    margin-left: 106px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 933px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 683px;
  }

  .u-section-2 .u-image-1 {
    min-height: 715px;
  }

  .u-section-2 .u-text-1 {
    width: 272px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 33px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1632px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1073px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 97px;
    margin-right: 154px;
    margin-left: 194px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 19px;
    margin-left: 217px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2116px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 37px;
  }

  .u-section-2 .u-image-1 {
    min-height: 676px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 126px;
    margin-right: -12px;
    margin-left: 70px;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 700;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1404px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/photo-1525923838299-2312b60f6d69.jpeg'), linear-gradient(to bottom, rgba(238, 203, 182, 1), rgba(238, 203, 182, 1));
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 751px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 37px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 707px;
  background-image: linear-gradient(to bottom, rgba(173, 246, 242, 0.5), rgba(173, 246, 242, 0.5)), linear-gradient(to bottom, rgba(173, 246, 242, 0.5), rgba(173, 246, 242, 0.5));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0 75px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.2223em;
}

.u-section-3 .u-icon-2 {
  font-size: 1.1667em;
}

.u-section-3 .u-icon-3 {
  font-size: 1.2223em;
}

.u-section-3 .u-icon-4 {
  font-size: 1.2223em;
}

.u-section-3 .u-icon-5 {
  font-size: 1.2223em;
}

.u-section-3 .u-image-1 {
  min-height: 585px;
  background-position: 6.9% 0%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/Screenshot2025-02-20at9.22.32AM.png'), linear-gradient(to bottom, rgba(57, 158, 151, 1), rgba(57, 158, 151, 1));
  background-size: cover, 105%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 122px;
  background-image: linear-gradient(to bottom, rgba(173, 246, 242, 0.5), rgba(173, 246, 242, 0.5)), linear-gradient(to bottom, rgba(173, 246, 242, 0.5), rgba(173, 246, 242, 0.5));
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 44px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 7px 88px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 5px 83px 0 auto;
  padding: 10px 4px 11px 3px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-3 .u-image-1 {
    min-height: 482px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 101px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 45px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2055px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%, 50% 50%;
    min-height: 501px;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: 388px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-weight: 700;
  }

  .u-section-3 .u-image-1 {
    min-height: 1109px;
    background-size: 105%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    min-height: 226px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: 252px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 655px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 831px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 170px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 112px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 106px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 37px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 8px;
  }

  .u-section-3 .u-image-1 {
    min-height: 659px;
    background-position: 40.38% 0%, 50% 50%;
    background-size: auto 115%;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 17px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
  min-height: 903px;
}

.u-section-4 .u-shape-1 {
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 250px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 1140px;
  min-height: 717px;
  margin: -414px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 501px;
  height: 657px;
  object-position: 50% 100%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 82px 0 auto;
}

.u-section-4 .u-group-2 {
  width: 512px;
  min-height: 496px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -592px auto 96px 70px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-form-1 {
  width: 452px;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    width: 583px;
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    margin-top: -576px;
    margin-bottom: 81px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 888px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 516px;
  }

  .u-section-4 .u-group-2 {
    width: 489px;
    min-height: 495px;
    margin-bottom: 0;
  }

  .u-section-4 .u-form-1 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1053px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 248px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    min-height: 891px;
    margin-top: -420px;
  }

  .u-section-4 .u-image-1 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    width: 446px;
    min-height: 496px;
    margin-top: -157px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 922px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 437px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 779px;
    margin-top: -545px;
    margin-bottom: -56px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-image-1 {
    height: 433px;
    width: 340px;
    margin-top: -94px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 437px;
    width: 304px;
    margin-top: -30px;
  }
}