 .u-section-1 {
  background-image: url("https://www.vecteezy.com/photo/1484849-mountain-scape-covered-in-golden-haze");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1 .u-text-1 {
  font-family: "Abril Fatface";
  margin: 447px auto 0 -17px;
}

.u-section-1 .u-text-2 {
  margin: 0 514px 60px -142px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 111px;
    margin-left: -111px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 50px;
    margin-left: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-text-2 {
    margin: 1px 18px 59px -18px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1470px;
}

.u-section-2 .u-shape-1 {
  width: 404px;
  left: 672px;
  right: 114px;
}

.u-section-2 .u-image-1 {
  height: 762px;
  margin-top: 310px;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  min-height: 439px;
  width: 501px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -141px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 0 19px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 30px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.875rem;
  margin: 0 30px;
}

.u-section-2 .u-line-1 {
  width: 376px;
  height: 6px;
  margin: 39px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: -34px auto 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 44px 30px 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  width: 381px;
  margin: 16px auto 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 3px auto 0;
}

.u-section-2 .u-group-2 {
  width: 462px;
  min-height: 406px;
  background-image: none;
  height: auto;
  margin: -1339px auto 60px calc(((100% - 1140px) / 2)  + -14px);
}

.u-section-2 .u-container-layout-2 {
  padding: 0 13px;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 14px 0 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1px 17px 0;
}

.u-section-2 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 43.2px;
  margin: 0 17px;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
  margin: 21px 75px 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin: -38px auto 0 37px;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: 1px 246px 0 7px;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  margin: -115px 7px 0 237px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-left: auto;
    margin-right: calc(((100% - 940px) / 2)  + 186px);
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 525px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1095px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2)  + 187px);
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 940px) / 2)  + 412px);
    margin-top: 146px;
    margin-right: calc(((100% - 940px) / 2)  + 200px);
    margin-left: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -941px;
    margin-right: calc(((100% - 720px) / 2)  + -35px);
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 720px) / 2)  + 412px);
    margin-top: 147px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-top: 315px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -142px;
    margin-right: calc(((100% - 540px) / 2)  + -35px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    margin-top: -34px;
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 540px) / 2)  + 412px);
    margin-top: 372px;
    margin-right: calc(((100% - 540px) / 2)  + -222px);
    margin-bottom: 35px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-top: 232px;
    margin-right: calc(((100% - 340px) / 2)  + -400px);
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 131px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 122px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 903px;
}

.u-section-3 .u-shape-1 {
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 250px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 1140px;
  min-height: 717px;
  margin: -414px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 501px;
  height: 657px;
  object-position: 50% 100%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 82px 0 auto;
}

.u-section-3 .u-group-2 {
  width: 512px;
  min-height: 496px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -592px auto 96px 70px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-form-1 {
  width: 452px;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    width: 583px;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: -576px;
    margin-bottom: 81px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 888px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-top: -392px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-image-1 {
    width: 448px;
    height: 537px;
    margin-top: -9px;
  }

  .u-section-3 .u-group-2 {
    width: 489px;
    min-height: 495px;
    margin-top: -210px;
    margin-bottom: -96px;
    margin-left: -46px;
  }

  .u-section-3 .u-form-1 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 947px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 248px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 891px;
    margin-top: -420px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-2 {
    width: 446px;
    min-height: 496px;
    margin-top: -157px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 941px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 394px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 902px;
    margin-top: -706px;
  }

  .u-section-3 .u-image-1 {
    height: 433px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    min-height: 437px;
    width: 304px;
    margin-top: 134px;
  }
}